.cent{
  display: block;
  flex-direction: row;
  text-align: center;
  padding-right: 80%;
}
 .container{
   background-repeat: no-repeat;
   background-size: cover;
   background-image:url("https://media3.giphy.com/media/GVQnMC1w0TrNK/giphy.gif");
 }


.card-footer{
  color:blue

}
.card-body{
  padding top :60%;
  padding-bottom:22%

}
.jumbotron{
  background-color: transparent;
  font-weight: bolder;
}
body{
  color:white;
}
